DISCORD_TOKEN=your_bot_token_here

# The channel where the bot will post the ticket creation message
PANEL_CHANNEL_ID=1486473100651532379

# The IDs of the categories where tickets will be placed (Optional, leave blank to create outside categories)
CATEGORY_SUPPORT=
CATEGORY_PURCHASE=
CATEGORY_GIVEAWAY=
